html
	head
		title jpages demo
		link(href='/stylesheets/jpages.css', rel='stylesheet', type='text/css')
	body
		div.pagination-bar.holder
			div.nav-bar
			div.select-box
		div#fundList
		script(data-main='/javascripts/main', src='/javascripts/libs/require.js')
    
