html
  head
    title jpages demo
    link(href='/stylesheets/jpages.css', rel='stylesheet', type='text/css')
  body
    .holder
      //
        navigation goes here 
    table
      caption Imdb top 250 
      thead
        tr
          th Rank
          th Rating
          th Title
          th Votes
      tbody#movies
        tr
          td 1.
          td 9.2
          td The Shawshank Redemption (1994)
          td 699,295
        tr
          td 2.
          td 9.2
          td The Godfather (1972)
          td 524,507
        tr
          td 3.
          td 9.0
          td The Godfather: Part II (1974)
          td 329,051
        tr
          td 4.
          td 8.9
          td Il buono, il brutto, il cattivo. (1966)
          td 219,022
        tr
          td 5.
          td 8.9
          td Pulp Fiction (1994)
          td 549,166
        tr
          td 6.
          td 8.9
          td 12 Angry Men (1957)
          td 170,234
        tr
          td 7.
          td 8.9
          td Schindler's List (1993)
          td 366,494
        tr
          td 8.
          td 8.8
          td The Dark Knight (2008)
          td 634,065
        tr
          td 9.
          td 8.8
          td One Flew Over the Cuckoo's Nest (1975)
          td 292,690
        tr
          td 10.
          td 8.8
          td The Lord of the Rings: The Return of the King (2003)
          td 489,205
        tr
          td 11.
          td 8.8
          td Star Wars: Episode V - The Empire Strikes Back (1980)
          td 357,625
        tr
          td 12.
          td 8.8
          td Fight Club (1999)
          td 525,429
        tr
          td 13.
          td 8.8
          td Inception (2010)
          td 483,986
        tr
          td 14.
          td 8.8
          td Shichinin no samurai (1954)
          td 121,275
        tr
          td 15.
          td 8.7
          td
            | The Lord of the Rings: The Fellowship of the Ring
            | (2001)
          td 510,260
        tr
          td 16.
          td 8.7
          td Goodfellas (1990)
          td 309,394
        tr
          td 17.
          td 8.7
          td Star Wars (1977)
          td 403,247
        tr
          td 18.
          td 8.7
          td Cidade de Deus (2002)
          td 230,654
        tr
          td 19.
          td 8.7
          td Casablanca (1942)
          td 206,525
        tr
          td 20.
          td 8.7
          td The Matrix (1999)
          td 507,866
        tr
          td 21.
          td 8.7
          td C'era una volta il West (1968)
          td 100,585
        tr
          td 22.
          td 8.7
          td Rear Window (1954)
          td 151,875
        tr
          td 23.
          td 8.7
          td Raiders of the Lost Ark (1981)
          td 308,264
        tr
          td 24.
          td 8.7
          td The Silence of the Lambs (1991)
          td 335,346
        tr
          td 25.
          td 8.7
          td The Usual Suspects (1995)
          td 340,827
        tr
          td 26.
          td 8.6
          td Se7en (1995)
          td 395,454
        tr
          td 27.
          td 8.6
          td Psycho (1960)
          td 187,005
        tr
          td 28.
          td 8.6
          td Forrest Gump (1994)
          td 433,687
        tr
          td 29.
          td 8.6
          td The Lord of the Rings: The Two Towers (2002)
          td 438,900
        tr
          td 30.
          td 8.6
          td It's a Wonderful Life (1946)
          td 131,435
        tr
          td 31.
          td 8.6
          td Memento (2000)
          td 369,980
        tr
          td 32.
          td 8.6
          td Léon (1994)
          td 285,163
        tr
          td 33.
          td 8.6
          td Sunset Blvd. (1950)
          td 70,456
        tr
          td 34.
          td 8.6
          td
            | Dr. Strangelove or: How I Learned to Stop Worrying and Love
            | the Bomb (1964)
          td 188,961
        tr
          td 35.
          td 8.6
          td Apocalypse Now (1979)
          td 219,741
        tr
          td 36.
          td 8.5
          td American History X (1998)
          td 317,621
        tr
          td 37.
          td 8.5
          td North by Northwest (1959)
          td 115,377
        tr
          td 44.
          td 8.5
          td Alien (1979)
          td 234,324
        tr
          td 45.
          td 8.5
          td Sen to Chihiro no kamikakushi (2001)
          td 148,270
        tr
          td 46.
          td 8.5
          td City Lights (1931)
          td 40,299
        tr
          td 47.
          td 8.5
          td Vertigo (1958)
          td 115,948
        tr
          td 48.
          td 8.5
          td The Shining (1980)
          td 244,669
        tr
          td 49.
          td 8.5
          td Paths of Glory (1957)
          td 57,711
        tr
          td 50.
          td 8.5
          td M (1931)
          td 50,917
        tr
          td 51.
          td 8.5
          td Le fabuleux destin d'Amélie Poulain (2001)
          td 244,436
        tr
          td 52.
          td 8.5
          td The Pianist (2002)
          td 188,104
        tr
          td 53.
          td 8.5
          td WALL·E (2008)
          td 267,689
        tr
          td 54.
          td 8.5
          td Double Indemnity (1944)
          td 48,104
        tr
          td 55.
          td 8.5
          td The Departed (2006)
          td 359,103
        tr
          td 56.
          td 8.4
          td Das Leben der Anderen (2006)
          td 108,596
        tr
          td 57.
          td 8.4
          td Modern Times (1936)
          td 50,092
        tr
          td 58.
          td 8.4
          td A Clockwork Orange (1971)
          td 250,319
        tr
          td 59.
          td 8.4
          td Aliens (1986)
          td 219,250
        tr
          td 60.
          td 8.4
          td Lawrence of Arabia (1962)
          td 96,990
        tr
          td 61.
          td 8.4
          td To Kill a Mockingbird (1962)
          td 104,083
        tr
          td 62.
          td 8.4
          td La vita è bella (1997)
          td 151,677
        tr
          td 63.
          td 8.4
          td Back to the Future (1985)
          td 278,776
        tr
          td 64.
          td 8.4
          td Requiem for a Dream (2000)
          td 252,055
        tr
          td 65.
          td 8.4
          td Das Boot (1981)
          td 87,243
        tr
          td 66.
          td 8.4
          td Eternal Sunshine of the Spotless Mind (2004)
          td 295,463
        tr
          td 67.
          td 8.4
          td Reservoir Dogs (1992)
          td 279,486
        tr
          td 68.
          td 8.4
          td The Third Man (1949)
          td 62,004
        tr
          td 69.
          td 8.4
          td The Prestige (2006)
          td 303,006
        tr
          td 70.
          td 8.4
          td L.A. Confidential (1997)
          td 209,016
        tr
          td 71.
          td 8.4
          td Chinatown (1974)
          td 101,751
        tr
          td 72.
          td 8.4
          td The Treasure of the Sierra Madre (1948)
          td 41,468
        tr
          td 73.
          td 8.4
          td The Green Mile (1999)
          td 281,483
        tr
          td 74.
          td 8.4
          td Nuovo Cinema Paradiso (1988)
          td 61,583
        tr
          td 75.
          td 8.4
          td Jodaeiye Nader az Simin (2011)
          td 30,688
        tr
          td 76.
          td 8.3
          td The Great Dictator (1940)
          td 50,788
        tr
          td 77.
          td 8.3
          td Monty Python and the Holy Grail (1974)
          td 192,886
    script(type='text/javascript', src='/javascripts/libs/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascripts/libs/jpages.js')
    script(type='text/javascript', src='/javascripts/app.js')
